* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f5f9;
}

header {
    background: #1428a0;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

.card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #1428a0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0d1b70;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #1428a0;
    color: white;
}

@media(max-width:700px) {
    table {
        font-size: 12px;
    }
}